.toolbar{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0.33px;
    bottom: -4px;
    background: #70BFD0;
}

.logo{
    height: 120px;
    width: 150px;
    margin-top: 5px;
}

.maintabs{
    position :realtive;
    margin : auto;
    background-color: black;
    color:white;
    width: 40%;
}
